
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import './scss/index';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: $font-primary; 
  
  color: $text-main;
  background-color: $bg-body-start;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}